.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  .h1{
    height: 10vmin;
    pointer-events: none;
    color:rgb(73, 110, 211);
  }
  .p{
    font-size: calc(7px + 1.5vmin);
    pointer-events: none;
    text-align: left
  }
  
   /*@media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }*/
  
  .App-header {
    background-color: #f1faee;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
   
    font-size: calc(10px + 2vmin);
    color:rgb(0, 0, 0);
  }
  
  .App-link {
    color: #61dafb;
  }